@media (max-width: 767px) {
	.divAno {
		padding-top: 0px;
		padding-bottom: 15px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.btnConcluir {
		width: 100%;
	}
	
	.dadosPanel {
		padding-left: 0%;
		padding-right: 0%;
	}
	
	.bntCadPeca {
		padding-left: 1%;
		padding-right: 1%;
		width: 100%;
	}
	
	.loginPanel {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.menuNavPanel {
		padding-left: 1px;
		padding-right: 1px;
	}
	
	.cadPanel {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.imagemPeca {
		margin-top: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.redutorMenuLateral {
		width: 100%;
	}
	
	.dadosPanel {
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.loginPanel {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.cadPanel {
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.imagemPeca {
		margin-top: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.redutorMenuLateral {
		width: 100%;
	}
	
	.dadosPanel {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.loginPanel {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.cadPanel {
		padding-left: 15%;
		padding-right: 15%;
	}
	
	.imagemPeca {
		margin-right: 5px;
	}
}

@media (min-width: 1200px) {
	.redutorMenuLateral {
		width: 95%;
	}
	
	.dadosPanel {
		padding-left: 8%;
		padding-right: 8%;
	}
	
	.loginPanel {
		padding-left: 8%;
		padding-right: 8%;
	}
	
	.cadPanel {
		padding-left: 18%;
		padding-right: 18%;
	}
	
	.imagemPeca {
		margin-right: 35px;
	}
}

.linha_inteira {
	width: 100%;
}

.titulo {
	background-color: #C00000;
	color: white;
	width: 100%;
	text-align: center;
}

div#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	background-color: #fff;
	background-size: cover;
	display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99999 !important;
    margin: 0 auto;
    float: none;
}

.menu_usuario_header {
	background-color: #C00000;
	color: white;
	width: 100%;
}

.menu-yellow {
	color: yellow;
}

.cmmv_salvar {
	margin-top: 30px;
	margin-bottom: 25px;
}

.wellBranco {
	background-color: white;
}

.sombra_painel {
	position: relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px #ccc inset; 
	   -moz-box-shadow: 0px 0px 10px #ccc inset;
	        box-shadow: 0px 0px 10px #ccc inset; 
}

.esp_tit_cad_pec {
	width: 100%;
	height: 20px;
}

.sombra_painel:before,
.sombra_painel:after {
	position: absolute;
	content: "";
	z-index: -2;
}

.sombra_painel:before {
	top: 0;
	bottom: 0;
	left: 10px;
	right: 10px;
	-webkit-border-radius: 100% / 29%;
	   -moz-border-radius: 100% / 29%;
	        border-radius: 100% / 29%;
	-webkit-box-shadow: 0px 0px 23px #666;
	   -moz-box-shadow: 0px 0px 23px #666; 
	        box-shadow: 0px 0px 23px #666; 
}

.margem-superior-pouco {
	margin-top: 85px;
}

.margem-superior-medio {
	margin-top: 130px;
}

.margem-superior-grande {
	margin-top: 170px;
}

.margem-inferior-minimo {
	margin-bottom: 50px;
}

.margem-inferior-pouco {
	margin-bottom: 85px;
}

.margem-inferior-medio {
	margin-bottom: 125px;
}

.margem-inferior-grande {
	margin-bottom: 170px;
}

.menu_usuario {
	margin-bottom: 55px;
}

.margem-menu-visualizar {
	margin-top: -25px;
}

.margem-inferior-menu-usuario {
	margin-bottom: 100px;
}

.segment_graficos {
	margin-bottom: 50px;
}

.btn_abre_header {
	float: right !important;
	margin-right: 0em !important;
	margin-left: 6em !important;
}

.navbar-titulo {
	z-index: 9999 !important;
}

.headerH {
	text-align: right;
}

.footerUP {
	background-color: #B00000;
	color: white;
	width: 100%;
}

.Hcor {
	color: #B00000;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.footerMT {
	margin-top: 50px;
}

.footerMD {
	margin-bottom: 30px;
}

.disabled {
	pointer-events: none;
}

.footerDOWN {
	background-color: #A00000;
	color: white;
	width: 100%;
	text-align: center;
}

.labelFooter {
	margin-bottom: 10px;
	margin-top: 10px;
}

.linkFooter {
	color: #DCA7A7;
	line-height: 30px;
}

.link {
	color: white;
}

.titlePFooter {
	font-weight: bold;
}

.lbPanel {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #A00000;
}

.lbPanel_Senha {
	margin-top: 35px;
	margin-bottom: 0px;
	color: #A00000;
}

.btnImagens {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.btnImagensPeca {
	margin-top: 5px;
	width: 100%;
}

.imagem_usuario {
	width: 200px;
	height: 150px;
}

.btnPanel {
	margin-top: 30px;
	margin-left: 20px;
}

.btnAtualizar {
	padding-top: 28px;
}

.panelCheck {
	color: #A00000;
}

.passCheck {
	margin-top: -10px;
	margin-bottom: -10px;
}

.buscaDropEspaco {
	margin-bottom: 20px;
}

.loginDivfooter {
	border-top: 1px solid#A00000; 
	padding-top: 10px; 
	color: #A00000;
}

.borderPainel {
	border-color: #A00000;
}

.borda_PanelPeca {
	border: 1px solid#A00000;
	border-color: #A00000;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.centralizar {
	text-align: center;
}

.centerIMG {
	margin: 0 auto;
    float: none;
}

.headIMG {
	margin: 0 auto;
    float: none;
    margin-top: -70px;
    margin-bottom: -70px;
}

.colunaFooterH {
	height: 200px;
	margin-bottom: 40px;
}

.main.menu.fixed {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;
}

.menu_logo {
    margin-right: 1em;
}

.menuRowMD {
	margin-bottom: 15px;
}

.bnt-100{
	width: 100%;
}

.menu-select {
	background: white;
    color: #A00000;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    cursor: pointer;
    -ms-appearance: none;
}

.form_select {
	background: white;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    cursor: pointer;
    -ms-appearance: none;
}

select::-ms-expand {
    display: none;
}